{% extends "rest_framework/base.html" %}
{% load static from staticfiles %}
{% load pdb from debug %}

{% block branding %}
<a href="/">
  <img style='margin-top: 3px; margin-bottom: 5px;' src="{% static 'img/logo.png' %}" width="40" height="40">
</a>
<span style='padding: 10px'>
{# {% pdb %} #}
{% if request.query_params.experiment %}
  <a href="{% url 'reset-exp-tasks' request.query_params.experiment 'S' %}"><button>Reset exp suspended tasks</button></a>
  <a href="{% url 'reset-exp-tasks' request.query_params.experiment 'R' %}"><button>Reset exp running tasks</button></a>
{% else %}
  {% if request.query_params.func_cls %}
    <a href="{% url 'reset-cls-tasks' request.query_params.experiment request.query_params.func_cls 'S' %}"><button>Reset class suspended tasks</button></a>
    <a href="{% url 'reset-cls-tasks' request.query_params.experiment request.query_params.func_cls 'R' %}"><button>Reset class running tasks</button></a>
  {% endif %}
{% endif %}
</span>
{% endblock %}
