{% extends "rest_framework/base.html" %}
{% load static from staticfiles %}
{% load pdb from debug %}

{% block branding %}
<a href="/">
  <img style='margin-top: 3px; margin-bottom: 5px;' src="{% static 'img/logo.png' %}" width="40" height="40">
</a>
<span style='padding: 10px'>
{# {% pdb %} #}
{% if request.query_params.experiment %}
  <a href="{% url 'reset-exp-tasks' request.query_params.experiment 'S' %}"><button>Reset suspended tasks</button></a>
  <a href="{% url 'reset-exp-tasks' request.query_params.experiment 'R' %}"><button>Reset running tasks</button></a>
  <form style="display: inline;" action="{% url 'delete-exp-tasks' request.query_params.experiment %}" method='post'>{% csrf_token %}
    <a><button>Delete all tasks</button></a>
  </form>
{% endif %}
</span>
{% endblock %}
