{% extends "base.html" %}
{% load trans blocktrans from i18n %}
{% load timedelta from websitetags %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        {% if exp.invalid %}<h2 class="pull-right"><span class="label label-danger">{% trans 'Not valid' %}</span></h2>{% endif %}
        <h1>{{ exp }}</h1>
      </div>
      <div class="col-md-3" style='padding-top: 25px;'>
        {% if user.is_authenticated %}
          <div class="btn-toolbar">
            <p>
              <a href={% url 'experiment-detail' exp.pk %}>
                <button class='btn btn-primary btn-sm'>{% trans 'Edit' %}</button></a>
              {% if not exp.tasks.all %}
              <a href={% url 'experiment-create-gkls-tasks' exp.pk %}>
                <button class='btn btn-default btn-sm'>{% trans 'Create GKLS tasks' %}</button>
              </a>
              {% endif %}
              <a href="{% url 'task-list' %}?experiment={{ exp.pk }}">
                <button class='btn btn-default btn-sm' >{% trans 'Tasks' %}</button>
              </a>
              <a href="{% url 'fork-exp' exp.pk %}">
                <button class='btn btn-default btn-sm' >{% trans 'Fork' %}</button>
              </a>
            </p>
            <p>
              {% if exp.status in 'CP' %}
                <a href={% url 'toggle-exp-status' exp.pk %}>
                  <button class='btn btn-default btn-sm'>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                  </button></a>
              {% elif exp.status == 'D' %}
                <a href={% url 'toggle-exp-status' exp.pk %}>
                  <button class='btn btn-default btn-sm'>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  </button></a>
              {% else %}
                <a href={% url 'toggle-exp-status' exp.pk %}>
                  <button class='btn btn-default btn-sm'>
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                  </button></a>
              {% endif %}
              {% if exp.threads %}
                  <span style="vertical-align: text-bottom;">
                    &nbsp;&nbsp;&nbsp;{% trans 'Threads running:' %} <b>{{ exp.threads }}</b></span>
                  <a href="{% url 'start-worker' exp.pk %}"><button class='btn btn-default btn-xs'>+1</button></a>
                </p>
              {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class='text-center'><h3>{% trans 'Tasks summary' %}</h3></div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans 'Class' %}</th>
                <th>{% trans 'Tasks' %}</th>
                <th>{% trans 'CallsAvg' %}</th>
                <th>{% trans 'Calls50' %}</th>
                <th>{% trans 'Calls100' %}</th>
                <th>{% trans 'DurationAvg' %}</th>
                <th>{% trans 'SubregAvg' %}</th>
              </tr>
            </thead>
            <tbody>
            {% for summary in summaries %}
            <tr style="text-align: right">
                <td><a href="{% url 'task-list' %}?experiment={{ exp.pk }}&func_cls={{ summary.title }}">{{ summary.title }}</td>
              <td>{{ summary.tasks_count }}
                  {% if summary.tasks_suspended %}
                    <span style='color: red; font-size: small;'>{{ summary.tasks_suspended }}</small>
                  {% endif %}
              </td>
              <td>{% if summary.tasks_suspended %}&gt;{% endif %}{{ summary.calls_avg|floatformat:"-2" }}</td>
              <td>{% if summary.tasks_suspended > summary.tasks_count %}&gt;{% endif %}{{ summary.calls_50|floatformat }}</td>
              <td>{% if summary.tasks_suspended %}&gt;{% endif %}{{ summary.calls_100 }}</td>
              <td>{% if summary.tasks_suspended %}&gt;{% endif %}{{ summary.duration_avg|timedelta }}</td>
              <td>{% if summary.tasks_suspended %}&gt;{% endif %}{{ summary.subregions_avg|floatformat:"-2" }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="col-md-6">
        <div class='text-center'><h4>{{ exp.algorithm }}</h4></div>
        {% if exp.description %}
          <p><small><b>{% trans 'Description' %}</b></small>: {{ exp.description }}</p>
        {% endif %}
        {% for name, value in exp.details %}
        <p><small><b>{{ name }}</b></small>: {{ value }}  &nbsp;<b><a class="remove-param-button" href="{% url 'remove-exp-property' exp.pk forloop.counter0 %}">x</a></b></p>
        {% endfor %}
        <div class="form-group">
          <form method="post" action="{% url 'add-exp-property' exp.pk %}">{% csrf_token %}
            <small>
              <b><input class="shadow-input" type="text" name="name" style="width: 80px" placeholder=" name"></input>: </b>
                 <input class="shadow-input" type="text" name="value" placeholder=" value" style="width: 80px"></input>
                 <button class="btn btn-xs">Add</button>
            </small>
          </form>
        </div>
        {% if exp.mistakes %}
          <p><small><b>{% trans 'mistakes' %}</b></small>: {{ exp.mistakes }}</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
