{% extends "base.html" %}
{% load trans blocktrans from i18n %}
{% load timedelta from websitetags %}
{% load cls fields sort_exp_fields from websitetags %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        {% if exp.invalid %}<h2 class="pull-right"><span class="label label-danger">{% trans 'Not valid' %}</span></h2>{% endif %}
        <h1>{{ exp }}</h1>
      </div>
    </div>
    <div class="row">
      <form action="." method="post"> {% csrf_token %}
        <div class="col-md-3" style='padding-top: 25px; position: fixed; right: 0px; z-index: 5;'>
          {% if user.is_authenticated %}
            <div class="btn-toolbar">
              <p>
                <button class='btn btn-primary'>{% trans 'Save' %}</button>
                <a href="{% url 'exp-summary' exp.pk %}"><button class='btn btn-default disabled'>{% trans 'Cancel' %}</button></a>
              </p>
            </div>
          {% endif %}
        </div>
        <div class="col-md-12">
            {% for field in exp_form|fields:alg_form|fields:prob_form|sort_exp_fields %}  {# make dict of fields - any sequance would be available  #}
            <p>                                                                           {# What would happen? #}
                {{ field.errors }}
                <label class="col-sm-2 control-label" style="text-align: right;"> {{ field.label }} </label>
                <div class="">
                  {{ field|cls:"form-control" }}
                  {% if field.help_text %}
                    <span class="col-sm-offset-2 help-block">{{ field.help_text|safe }}</span>
                  {% endif %}
                </div>
              </p>
            {% endfor %}
          </div>

        </div>
      </form>
      <hr/>
    </div>
  </div>

{% endblock %}
