{% extends "base.html" %}
{% load trans blocktrans from i18n %}
{% load timedelta idx from websitetags %}


{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-md-offset-3">
        {# {% if exp.invalid %}<h2 class="pull-right"><span class="label label-danger">{% trans 'Not valid' %}</span></h2>{% endif %} #}
        <h3>Comparing these experiments:</h3>
        {% for exp in exps %}
          {% if exp.tasks.all %}
            <p><a href="{% url 'exp-summary' exp.id %}">{{ exp }}</a></p>
          {% else %}
          <p><b>Not included:</b> <a href="{% url 'exp-summary' exp.id %}">{{ exp }}</a>, because has no results</p>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-md-3" style='padding-top: 25px;'>
        {% if user.is_authenticated %}
          <div class="btn-toolbar">
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <table class="table table-nonfluid">
            <thead>
              <tr>
                <th class="text-center">{% trans 'Class' %}</th>
                <th class="text-center">{% trans 'Algorithm' %}</th>
                <th class="text-center">{% trans 'Tasks' %}</th>
                <th class="text-center">{% trans 'CallsAvg' %}</th>
                <th class="text-center">{% trans 'Calls50' %}</th>
                <th class="text-center">{% trans 'Calls100' %}</th>
                <th class="text-center">{% trans 'DurationAvg' %}</th>
                <th class="text-center">{% trans 'SubregAvg' %}</th>
              </tr>
            </thead>
            <tbody>
            {% for summary in summaries %}
              {% for algorithm in summary.algorithm %}
                {% with forloop.counter0 as i %}
                <tr style="text-align: right; {% if forloop.last %}border-bottom: 2px solid #ddd;{% endif %}">
                  {% if i == 0 %}
                  <td rowspan="{{ summary.cls|length }}" class="table-cls-cell text-center"><a href="{% url 'task-list' %}?experiment={{ summary.exp_pk|idx:i }}&func_cls={{ summary.cls|idx:i }}">{{ summary.cls|idx:i }}</td>
                  {% endif %}
                  <td class="text-center">{{ exps|idx:i|truncatechars:20 }}</td>
                  <td>{{ summary.tasks_count|idx:i }}
                    {% if summary.tasks_suspended|idx:i %}
                      <span style='color: red; font-size: small;'>{{ summary.tasks_suspended|idx:i }}</small>
                    {% endif %}
                  </td>
                  <td>{% if summary.tasks_suspended|idx:i %}&gt;{% endif %}{{ summary.calls_avg|idx:i|floatformat:"-2" }}</td>
                  <td>{% if summary.tasks_suspended|idx:i > summary.tasks_count|idx:i %}&gt;{% endif %}{{ summary.calls_50|idx:i|floatformat }}</td>
                  <td>{% if summary.tasks_suspended|idx:i %}&gt;{% endif %}{{ summary.calls_100|idx:i }}</td>
                  <td>{% if summary.tasks_suspended|idx:i %}&gt;{% endif %}{{ summary.duration_avg|idx:i|timedelta }}</td>
                  <td>{% if summary.tasks_suspended|idx:i %}&gt;{% endif %}{{ summary.subregions_avg|idx:i|floatformat:"-2" }}</td>
                </tr>
                {% endwith %}
              {% endfor %}
            {% endfor %}
            </tbody>
          </table>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>

  <hr style="margin-top: 80px;">

{% endblock %}
