{% extends "base.html" %}
{% load trans blocktrans from i18n %}


{% block content %}
<div class="text-center">
  <h3>{% trans "Post your experiment results. Get summaries. Compare results." %}</h3>
  <p>Each experiment should consist of multiple tasks with metrics. You can sumarise, analise these metrics.</p>
</div>

<h2>{% trans "Summaries" %}</h2>
  {% for experiment in experiments %}
    <p><a href="{% url 'exp-summary' experiment.id %}">{{ experiment }}</a></p>
  {% endfor %}
{% endblock %}
