{% extends "base.html" %}
{% load trans blocktrans from i18n %}
{% load static from staticfiles %}


{% block content %}
<div class="container-fluid">
  <div class="row" style="padding-top: 30px;">
    <div class="col-md-5">
      <h2>{% trans "Algorithms" %}</h2>
      {% for experiment in experiments %}
        <p>
          <a href="{% url 'exp-summary' experiment.id %}">{{ experiment }}</a>
          {% if experiment.threads %}<img src="{% static 'img/in-progress.gif' %}">{% endif %}
        </p>
      {% endfor %}
    </div>

    <div class="col-md-6">
      <div class="text-center">
        <h2>{% trans "Compare your algorithms efficiently" %}</h2>
        <p style="font-size: 16px;">Specify source code repository of your algorithm, choose input set and <br/>
           press <b>start</b> to get result metrics using supercomputer.</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
