{% extends "base.html" %}
{% load trans blocktrans from i18n %}
{% load static from staticfiles %}


{% block content %}
<div class="container-fluid">
  <div class="row" style="padding-top: 30px;">
    <div class="col-md-12">
      <div class="text-center" style="float: right;">
        <h2>{% trans "Compare your algorithms efficiently" %}</h2>
        <p style="font-size: 16px;">Specify source code repository of your algorithm, choose input set and <br/>
           press <b>start</b> to get result metrics using supercomputer.</p>
      </div>
      <h2>{% trans "Algorithms" %}</h2>
      {% for experiment in experiments %}
        <p>
          <a href="{% url 'exp-summary' experiment.id %}">{{ experiment }}</a>{% if experiment.threads %}<img src="{% static 'img/in-progress.gif' %}">{% endif %}
          {% if experiment.children.all %}
            <a class="hide_children"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a>
            <a class="show_children"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
            <div class="children">
            {% include 'website/exp_children.html' with experiments=experiment.children.all %}
            </div>
          {% endif %}
        </p>
      {% endfor %}

    </div>

  </div>
</div>
{% endblock %}
